!!!5
html
	head
		title Hi
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="/js/toS3.js")
		link(rel='stylesheet', href='/css/index.css')
			
	body
		noscript
			.error You must have JavaScript enabled to use this
		input#files(name="filelist[]", type="file", multiple="multiple")
		input#submit(type="Submit", onclick="handleFileSelect()")
		#progress_bar
			.percent 0%